.wrongbook-panel {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
	background: #ffffff;
	box-shadow: 0px 3px 2px #aab2bd;
	padding-top: 15px;
	padding-bottom: 5px;
}

#wrongbook-show{
	background: url(../img/class.jpg) no-repeat center top;
	margin-top: -15px;
	background-attachment: relative;
	background-position: center center;
	min-height: 160px;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrongbook-show {
	background: #4ECDC4;
	height: 50px;
}
.wrongbook-show:hover {
	background: #2f2f2f;
  -webkit-transition: background-color 0.6s;
  -moz-transition: background-color 0.6s;
  -o-transition: background-color 0.6s;
  transition: background-color 0.6s;
  cursor: pointer;
}
.wrongbook-show p {
	color: white;
	padding-top: 15px;
	font-weight: 400;
	font-size: 15px;
}

